## Initialization of Dataframe
### Prototype to manipulate Dataframe used to conserve historic of prices
### (Implemented on python script yet)

In [42]:
import pandas as pd
import numpy as np
from numpy import random
import datetime
import time
import os
import json
# import coinbase
from datetime import date, datetime

maxSizeDtb=1e1
time_resolution = 60
df = pd.DataFrame(index=[0])

## Include New Line + Columns

In [43]:
ts = int(datetime.now().timestamp())
# crypto_names =   ["BTC-EUR", "ETH-EUR", "ETC-EUR"]
crypto_names =   ["BTC-EUR", "ETH-EUR", "ETC-EUR", "LTC-EUR"]
missing_crypto = [crypto for crypto in crypto_names if crypto not in df.columns]
print('Missing: ', missing_crypto, len(missing_crypto))

if len(missing_crypto)>0:
    new_clmn = pd.DataFrame(np.NaN, columns=missing_crypto, index=df.index)
    df = pd.concat([df, new_clmn], axis=1)
print(df.head(10))

Missing:  ['BTC-EUR', 'ETH-EUR', 'ETC-EUR', 'LTC-EUR'] 4
   BTC-EUR  ETH-EUR  ETC-EUR  LTC-EUR
0      NaN      NaN      NaN      NaN

In [44]:
# Complete row
ts = ts+1000

tmax = np.floor(ts/time_resolution)*time_resolution
tmin = tmax-(maxSizeDtb-1)*time_resolution
trange = np.arange(tmin, tmax, time_resolution)

current_max_t = df.index.max() # Time already in dtb
missing_t = [int(t) for t in trange if t > current_max_t]
new_row = pd.DataFrame(np.NaN, columns=df.columns, index=missing_t)
p_nbRow = len(df)

df = pd.concat([df, new_row], axis=0, verify_integrity=True)
# df = pd.concat([df, new_row], axis=0, verify_integrity=True) # To verify unique key (Need to add unique)
print('missing_t: ', missing_t)
print('added_rows: ', len(df)-p_nbRow)
print(new_row)
print(df)

missing_t:  [1620732420, 1620732480, 1620732540, 1620732600, 1620732660, 1620732720, 1620732780, 1620732840, 1620732900]
added_rows:  9
            BTC-EUR  ETH-EUR  ETC-EUR  LTC-EUR
1620732420      NaN      NaN      NaN      NaN
1620732480      NaN      NaN      NaN      NaN
1620732540      NaN      NaN      NaN      NaN
1620732600      NaN      NaN      NaN      NaN
1620732660      NaN      NaN      NaN      NaN
1620732720      NaN      NaN      NaN      NaN
1620732780      NaN      NaN      NaN      NaN
1620732840      NaN      NaN      NaN      NaN
1620732900      NaN      NaN      NaN      NaN
            BTC-EUR  ETH-EUR  ETC-EUR  LTC-EUR
0               NaN      NaN      NaN      NaN
1620732420      NaN      NaN      NaN      NaN
1620732480      NaN      NaN      NaN      NaN
1620732540      NaN      NaN      NaN      NaN
1620732600      NaN      NaN      NaN      NaN
1620732660      NaN      NaN      NaN      NaN
1620732720      NaN      NaN      NaN      NaN
1620732780      NaN      NaN      NaN      NaN
1620732840      NaN      NaN      NaN      NaN
1620732900      NaN      NaN      NaN      NaN

In [45]:
#Troncation
df = df.truncate(before=tmin, axis=0)
print(tmin)
df

1620732420.0

            BTC-EUR  ETH-EUR  ETC-EUR  LTC-EUR
1620732420      NaN      NaN      NaN      NaN
1620732480      NaN      NaN      NaN      NaN
1620732540      NaN      NaN      NaN      NaN
1620732600      NaN      NaN      NaN      NaN
1620732660      NaN      NaN      NaN      NaN
1620732720      NaN      NaN      NaN      NaN
1620732780      NaN      NaN      NaN      NaN
1620732840      NaN      NaN      NaN      NaN
1620732900      NaN      NaN      NaN      NaN

In [110]:
# Fill every NaN value
from numpy import random
for crypto in df.columns: # Fullfill in one entire column
    value = random.rand(len(df[crypto])) # Determine value
    df[crypto] = value

value = np.NaN
for crypto in df.columns: # Fullfill in one specific index
    for i in df.index:
        value = 1 if np.isnan(value) else np.NaN
        df.loc[i][crypto] = value
print(df)
# df.loc[i]['BTC-EUR']

            BTC-EUR  ETH-EUR  ETC-EUR  LTC-EUR
1620732420      1.0      NaN      1.0      NaN
1620732480      NaN      1.0      NaN      1.0
1620732540      1.0      NaN      1.0      NaN
1620732600      NaN      1.0      NaN      1.0
1620732660      1.0      NaN      1.0      NaN
1620732720      NaN      1.0      NaN      1.0
1620732780      1.0      NaN      1.0      NaN
1620732840      NaN      1.0      NaN      1.0
1620732900      1.0      NaN      1.0      NaN

In [111]:
# Determine NaN values and correct them
flag_array_is_nan = df.isnull().values
index_array_is_nan =  [(i, j) for i in range(len(flag_array_is_nan)) 
                                for j in range(len(flag_array_is_nan[0])) if flag_array_is_nan[i,j]]

for x,y in index_array_is_nan:
    print(df.iloc[[x]].columns[y])
    df.iloc[x,y]=df.iloc[[x]].index[0] # Added Process
df

ETH-EUR
LTC-EUR
BTC-EUR
ETC-EUR
ETH-EUR
LTC-EUR
BTC-EUR
ETC-EUR
ETH-EUR
LTC-EUR
BTC-EUR
ETC-EUR
ETH-EUR
LTC-EUR
BTC-EUR
ETC-EUR
ETH-EUR
LTC-EUR

                 BTC-EUR       ETH-EUR       ETC-EUR       LTC-EUR
1620732420  1.000000e+00  1.620732e+09  1.000000e+00  1.620732e+09
1620732480  1.620732e+09  1.000000e+00  1.620732e+09  1.000000e+00
1620732540  1.000000e+00  1.620733e+09  1.000000e+00  1.620733e+09
1620732600  1.620733e+09  1.000000e+00  1.620733e+09  1.000000e+00
1620732660  1.000000e+00  1.620733e+09  1.000000e+00  1.620733e+09
1620732720  1.620733e+09  1.000000e+00  1.620733e+09  1.000000e+00
1620732780  1.000000e+00  1.620733e+09  1.000000e+00  1.620733e+09
1620732840  1.620733e+09  1.000000e+00  1.620733e+09  1.000000e+00
1620732900  1.000000e+00  1.620733e+09  1.000000e+00  1.620733e+09

In [92]:
 df.iloc[[0]].index

Int64Index([1620732420], dtype='int64')